{% extends 'base.html' %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


    .container-add {
        margin-top: 11vh;
        margin-right: 15vw;
        margin-left: 15vw;
        background-color: #ffffff;

        padding-bottom: 3rem;
        padding-top: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;

        box-shadow: 0px 1rem 2rem #EFEFEF;
        border-radius: 16px;
    }

    form {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 600;
    }

    input,
    textarea {
        width: 100%;
        padding: 0.4rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .add {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        color: #252B48;
        padding-left: 1rem;
        font-size: 3rem;

        margin-bottom: 2rem;
    }

    .submit-button{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 600;
        
        display:block;
        width:100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

</style>
<div class = "container-add">
    <div class = "add-header">
        <div class="add">
            Add New Product
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}

        {{ form.as_table }}
        <div>
            <input class="submit-button" type="submit" value="Add Product"/>
        </div>

    </form>
</div>

{% endblock %}