{% extends 'base.html' %}

{% block content %}
<h1>Warkop Kalisetail</h1>

<h3>Name:</h3>
<p>{{ nama }}</p>

<h3>Kelas:</h3>
<p>{{ kelas }}</p>

<p>Warkop Kalisetail memiliki {{ total_products }} menu</p>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
    <tr>


        <td>{{product.name}}</td>
        <td>{{product.amount}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>

        <td>
            <form method="post" action="{% url 'main:inc_product_amount' product.id %}">
                {% csrf_token %}
                <button type="submit">Add One</button>
            </form>
        </td>

        <td>
            <form method="post" action="{% url 'main:dec_product_amount' product.id %}">
                {% csrf_token %}
                <button type="submit">Take One</button>
            </form>
        </td>

        <td>
            <form method="post" action="{% url 'main:remove_product' product.id %}">
                {% csrf_token %}
                <button type="submit">Remove Menu</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}

