{% extends 'base.html' %}

{% block content %}
<h1>Warkop Kalisetail</h1>

<h3>Appname: </h3>
<p>{{ appname }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Kelas:</h5>
<p>{{ kelas }}</p>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.amount}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
    </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}

