{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

    body {
        background-color: #FFFDFA;
    }

    .container-register {
        margin-top: 14vh;
        margin-right: 15vw;
        margin-left: 15vw;
        background-color: #ffffff;

        padding-bottom: 3rem;
        padding-top: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;

        box-shadow: 0px 1rem 2rem #EFEFEF;
        border-radius: 16px;
    }


    /* Style form fields and labels */
    .form-group {
        margin-bottom: 2rem;
    }

    label {
        display: block;
        font-weight: bold;
    }


    input[type="text"],
    input[type="password"],
    textarea {
        width: 100%;
        padding: 0.4rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .errorlist {
        color: red;
    }

    .register-header {
        padding-bottom: 4rem;
    }

    .warkop-kalisetail {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        color: #252B48;
        padding-left: 1rem;
        font-size: 3rem;

        margin-bottom: -0.2rem;

    }

    .height-kalisetail{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 700;
        text-align: center;
        color: #252B48;
        font-size: 1.5rem;
        color: #DD7339;
    }

    .register-button{
        display:block;
        width:100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .login {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 400;
        text-align: center;
    }
    
</style>

<div class = "container-register">
    <div class = "register-header">
        <div class="warkop-kalisetail">
            Warkop Kalisetail
        </div>
        <div class="height-kalisetail">
            + 272 M
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <div>
            <input class="register-button" type="submit" name="submit" value="Daftar"/>
        </div>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="login">
        Already have an account yet?
        <a href="{% url 'main:login' %}">Login Now</a>
    </div>
    
</div>

{% endblock content %}